/* General styles */

* {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #ffffff;
  padding: 20px;
}

footer {
  background-color: #ffffff;
  padding: 20px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo {
  width: 200px;
}

.Menu {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.Menu li {
  display: inline-block;
  margin-right: 20px;
}

.Menu a {
  text-decoration: none;
  color: #333;
}

/* Banner styles */
.Banner {
  text-align: center;
  padding: 50px 0;
}

.Banner img {
  width: 100%;
}

.Products {
  padding: 40px;

}

.Products h2 {
  text-align: center;
  margin-bottom: 30px;
}

.Product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(300px));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px ;
  justify-content: center; 
  align-items: center; 
}

.Product {
  border: 0.5px solid #ccc;
  padding: 20px;
  text-align: center;
}

.Product img {
  width: 100%;
  height: 200px;
}

p{
color: #1A1A1A;
flex: none;
order: 0;
flex-grow: 0;
line-height: 150%;
width: 51px;
height: 24px;
}

#nome_pro{
font-weight: 400;
font-size: 18px;
color: #4D4D4D;
}

#valor {
font-weight: 600;
font-size: 20px;
color: #1A1A1A;


}

a{
  text-decoration: none;
}

#botao_sacola{
width: 51px;
height: 50px ;
}
